{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Početna stranica</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pocetna.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="{% static 'Images/logo.ico' %}">

</head>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url("{% static 'Images/bcg.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 90vh;
    }
  </style>

  <div class="logo-container">
    <img src="{% static 'Images/mlogo.jpg' %}" alt="Logo" class="logo">
</div>

  <h1 class="main-title">Mladost Leskovac</h1>


  <div class="header-container">
    <!-- Leva strana: Naslov -->
    <h1 class="sub-title">Početna stranica</h1>

    <!-- Desna strana: Meni -->
    <nav class="nav">
        <ul class="nav_menu">
            <li class="nav_menu-item"><a href="{% url 'pocetna' %}">Početna</a></li>
            
            <!-- Glavni meni "Procesi proizvodnje" sa podmenijem -->
            <li class="nav_menu-item dropdown">
                <a href="{% url 'proizvodnja' %}" class="dropdown-toggle">Procesi proizvodnje <i class="fas fa-caret-down"></i></a>
                <ul class="nav_submenu nav_submenu1">
                  <li class="nav_submenu-item"><a href="{% url 'nabavljanje-gline' %}">Nabavljanje gline</a></li>
                  <li class="nav_submenu-item"><a href="{% url 'primarna-obrada' %}">Primarna obrada</a></li>               
                  <li class="nav_submenu-item"><a href="{% url 'sekundarna-obrada' %}">Sekundarna obrada</a></li>
                  <li class="nav_submenu-item"><a href="{% url 'oblikovanje-crepa' %}">Oblikovanje crepa</a></li>
                  <li class="nav_submenu-item"><a href="{% url 'susenje-slaganje' %}">Sušenje i slaganje crepa</a></li>
                  <li class="nav_submenu-item"><a href="{% url 'pecenje-pakovanje' %}">Pečenje i pakovanje crepa</a></li>
                </ul>
            </li>

            <!-- Glavni meni "O nama" sa podmenijem -->
            <li class="nav_menu-item dropdown">
                <a href="{% url 'nama' %}" class="dropdown-toggle">O nama <i class="fas fa-caret-down"></i></a>
                <ul class="nav_submenu nav_submenu2">
                    <li class="nav_submenu-item"><a href="{% url 'ko-smo-mi' %}">Ko smo mi</a></li>
                    <li class="nav_submenu-item"><a href="{% url 'gde-se-nalazimo' %}">Gde se nalazimo</a></li>
                    <li class="nav_submenu-item"><a href="{% url 'istorija' %}">Istorija</a></li>
                </ul>
            </li>

            <li class="nav_menu-item"><a href="{% url 'kontakti' %}">Kontakt</a></li>
        </ul>
    </nav>
</div>

<div class="container">
    <div class="slika1-logo">
        <img src="{% static 'Images/home.jpg' %}" alt="Logo" class="slika1">
    </div>

    <div class="tekst">
      <p>
          <strong>DOBRODOSLI NA POČETNU STRANICU!</strong><br> 

          <strong>WEB aplikacije</strong> koja omogucava upoznavanje sa firmom "<strong>Mladost Leskovac</strong>",
          Sa procesom proizvodnje crepa. Pruža vam simulaciju celog procesa proizvodnje <span class="crven-crep">crepa</span>, prolazeći kroz najbitnije faze.
          <br>
          I upoznavanje sa nama, o tome ko smo mi, gde se nalazimo i naš kontakt!

      </p>
    </div>


    <div class="firma-logo">
        <img src="{% static 'Images/pozadina.jpg' %}" alt="Logo" class="firma">
    </div>
</div>

<div class="dole">
  <div class="dugme">
    <a href="{% url 'proizvodnja' %}">
      <button>Započnite proces proizvodnje</button>
    </a>
  </div> 

  <div class="kontakti">
    <p>
      <strong>Kontakt: </strong><br>
      Broj: +381 (0)16 255 507 <br>
      Lokacija: Puškinova bb, 16000 Leskovac <br>
      Igor Andjelković IN51/2020 
      <br>Telefon: 0631472616
    </p>
  </div>
</div>

</html>
